@import './client-list';
@import './dashboard';
@import './client-project-list';
@import './projectdetail';
@import './login';
@import './register';
@import './quotation';
@import './list';
@import './service';
@import './clientcreate';