@import './footer';
@import './selectbox';
@import './button';
@import './label';
@import './input';
@import './burger';
@import './clientdetail';
@import './chart';
@import './linechart';
@import './projectcard';